.buttonArea {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	height: 100%;
	input {
		padding: 1em;
		font-weight: bold;
		margin: 1em;
	}
}
.buttons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
button {
	margin: 1rem;
}
