.hand {
	display: flex;
	justify-content: flex-start;
	overflow-x: scroll;
	overflow-y: visible;
	perspective: 300px;
	perspective-origin: center center;
	position: relative;
	z-index: 999;
	@media screen and (max-width: 480px) {
	}
}
