.stacks {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	@media screen and (max-width: 480px) {
		margin-bottom: 0;
	}
}

.remaining {
	text-align: center;
	padding: 8px;
	margin: 0;
}
