.container {
	display: flex;
	flex-direction: row;
	padding: 0 1rem;
	flex-wrap: nowrap;
	overflow-x: scroll;
}
.itsMe {
	font-weight: bold;
}
.player {
	padding: 0.6rem;
	border-radius: 1rem;
	text-align: center;
	margin: 0.2rem 0;
	&:not(last-child) {
		margin-right: 1rem;
	}
	i {
		font-size: 1.5rem;
	}
	&.turn {
		color: #242424;
		background-color: #c5c5c5;
	}
}
